<div class="sticky-top bg-white">
  <div class="d-flex justify-content-between align-items-center gap-2 p-2">
    <h4>Chat</h4>

    @if (!searchNewContact) {
    <i
      class="fas fa-comment-medical cursor-pointer"
      (click)="searchContact()"
    ></i>
    } @else {
    <i
      class="fas fa-times-circle cursor-pointer"
      (click)="searchNewContact = false"
    ></i>
    }
  </div>

  <div class="d-flex flex-column gap-2 p-2">
    <div class="input-group">
      <span>
        <i class="fas fa-search"></i>
        <input
          type="text"
          class="form-controll-sm"
          placeholder="Search in the chat"
          aria-label="Search"
        />
      </span>
    </div>
  </div>
</div>
